<header>
  <a class="header__logo" href="/">
    <img src="assets/logo-icon-green.png" alt="logo" />
  </a>
  <a href="/">
    <img src="assets/logo-title.png" alt="logo" />
  </a>
  <article class="header__audio" (click)="playPauseAudio()">
    <audio id="audioPlayer">
      <source src="/theme-song.mp3" type="audio/mp3" />
    </audio>
    <fa-icon
      *ngIf="isPlaying"
      [icon]="['fas', 'volume-high']"
      title="Turn off audio"
    ></fa-icon>
    <fa-icon
      *ngIf="!isPlaying"
      [icon]="['fas', 'volume-mute']"
      title="Activate audio"
    ></fa-icon>
  </article>
</header>
