<header>
  <a class="header__logo" href="/" title="Home">
    <img
      src="assets/logo-icon-green.avif"
      alt="Rick and Morty logo"
      width="300"
      height="300"
      loading="lazy"
    />
  </a>

  <img
    src="assets/logo-title.avif"
    alt="Rick and Morty title logo"
    width="500"
    height="159"
    loading="eager"
  />

  <article class="header__audio" (click)="playPauseAudio()">
    <audio id="audioPlayer">
      <source src="assets/theme-song.mp3" type="audio/mp3" />
    </audio>
    <fa-icon
      *ngIf="isPlaying"
      [icon]="['fas', 'volume-high']"
      title="Turn off audio"
    ></fa-icon>
    <fa-icon
      *ngIf="!isPlaying"
      [icon]="['fas', 'volume-mute']"
      title="Activate audio"
    ></fa-icon>
  </article>
</header>
