footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  padding: 2rem 1.75rem;
  background-color: var(--black-color);
  color: var(--light-grey-color);
  font-family: -apple-system, 'Helvetica Neue', sans-serif;
  position: relative;
}

.footer__fill {
  display: none;
}

.footer__arrow{
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  text-align: right;
  width: 2.75rem;
  height: 2.75rem;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  cursor: pointer;
}

.footer__arrow fa-icon{
  color: var(--black-color);
  transition: color .3s ease-in-out;
}

.footer__arrow:hover fa-icon{
  color: var(--white-color);
}

.footer__copyright a,
.footer__author a{
  color: inherit;
  text-decoration: none;
}

.footer__author{
  text-align: center;
}

footer a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 968px) {
  footer{
    flex-direction: row;
  }

  .footer__fill{
    display: block;
  }

  .footer__copyright,
  .footer__fill {
    flex: 1;
  }
}