<footer>
  <p class="footer__copyright">
    &copy; 2025
    <a
      href="https://rickandmortyapi.com/"
      target="_blank"
      rel="noopener noreferrer"
      title="Rick and Morty API website"
      >Rick and Morty API</a
    >
    Project.
  </p>
  <p class="footer__author">
    Made with Angular by
    <a
      href="https://emmanuel-cruz.netlify.app/"
      target="_blank"
      rel="noopener noreferrer"
      title="Emmanuel Cruz's portfolio"
      >Emmanuel Cruz</a
    >.
  </p>

  <div class="footer__arrow__container">
    <a class="footer__arrow" href="#" title="Scroll to top">
      <fa-icon [icon]="['fas', 'chevron-up']"></fa-icon>
    </a>
  </div>
</footer>
