<main>
  <section>
    <article class="page__filter">
      <div class="main__search-container">
        <input
          type="text"
          placeholder="Search for a character"
          id="search-character__input"
        />
        <button (click)="searchCharacter()" class="search-button">
          <fa-icon [icon]="['fas', 'search']"></fa-icon>
        </button>
      </div>

      <div class="second__search-container">
        <div class="page__filter-container">
          <label for="page-option-selector">Page</label>
          <select
            (change)="pageSelector($event)"
            name="page-option-selector"
            id="page-option-selector"
          >
            <option
              [(ngModel)]="dataService.pageNum"
              value="default"
              class="page__selector-default"
            >
              {{ dataService.pageNum }}
            </option>
            <option *ngFor="let page of pageNumbers" [value]="page">
              {{ page }}
            </option>
          </select>
        </div>

        <div class="status__filter-container">
          <!-- <label>Status:</label> -->
          <select (change)="statusSelector($event)" name="status">
            <option value="default">Status</option>
            <option value="alive">Alive</option>
            <option value="dead">Dead</option>
            <option value="unknown">Unknown</option>
          </select>
        </div>
      </div>
    </article>
    <article *ngIf="datos" class="container">
      <div *ngFor="let char of datos" class="character__container">
        <span class="character__id__fill"></span>
        <span class="character__id">#{{ char.id }}</span>
        <img src="{{ char.image }}" />
        <div class="character__info">
          <div>
            <p class="character__name">{{ char.name }}</p>
            <p class="character__data">
              <span
                [ngClass]="{
                  'status-alive': char.status === 'Alive',
                  'status-dead': char.status === 'Dead',
                  unknown: char.status !== 'Alive' && char.status !== 'Dead'
                }"
              >
                {{ char.status }}
              </span>
              -
              <span>{{ char.species }}</span>
            </p>
          </div>

          <div>
            <p class="character__subtitle">Last known location:</p>
            <p>{{ char.location.name }}</p>
          </div>

          <div>
            <p class="character__subtitle">First seen in:</p>
            <p>{{ getEpisodeNumber(char.episode[0]) }}</p>
          </div>
        </div>
      </div>
    </article>
    <article class="buttons__container">
      <button
        class="page-navigator__button"
        *ngIf="dataService.pageNum > 1"
        (click)="prevPage()"
      >
        <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon>
      </button>
      <button
        class="page-navigator__button"
        *ngIf="dataService.pageNum > 1"
        (click)="prevPage()"
      >
        {{ dataService.pageNum - 1 }}
      </button>
      <button class="current-page__indicator">
        {{ dataService.pageNum }}
      </button>
      <button
        class="page-navigator__button"
        *ngIf="dataService.pageNum < 42"
        (click)="nextPage()"
      >
        {{ dataService.pageNum + 1 }}
      </button>
      <button
        class="page-navigator__button"
        *ngIf="dataService.pageNum < 42"
        (click)="nextPage()"
      >
        <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
      </button>
    </article>
  </section>

  <div *ngIf="!datos" class="loading">
    <p>Cargando datos...</p>
  </div>
</main>
