<section>
  <article *ngIf="datos" class="container">
    <div *ngFor="let char of datos" class="character__container">
      <img src="{{ char.image }}" />
      <div class="character__info">
        <div>
          <p class="character__name">{{ char.name }}</p>
          <!-- <p>{{ char.id }}</p> -->
          <p>
            <span
              [ngClass]="{
                'status-alive': char.status === 'Alive',
                'status-dead': char.status === 'Dead',
                unknown: char.status !== 'Alive' && char.status !== 'Dead'
              }"
            >
              {{ char.status }}
            </span>
            -
            <span>{{ char.species }}</span>
          </p>
        </div>

        <div>
          <p class="character__subtitle">Last known location:</p>
          <p>{{ char.location.name }}</p>
        </div>

        <div>
          <p class="character__subtitle">First seen in:</p>
          <p>{{ getEpisodeNumber(char.episode[0]) }}</p>
        </div>
      </div>
    </div>
  </article>
  <article class="buttons__container">
    <button>Prev</button>
    <button>Next</button>
  </article>
</section>

<div *ngIf="!datos">
  <p>Cargando datos...</p>
</div>
