main {
  padding-block: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}

.page__filter{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

main,
.loading {
  min-height: calc(100vh - 7rem);
}

.main__search-container{
  width: 34%;
  display: flex;
  align-items: center;
  background-color: var(--dark-grey-color);
  border-radius: 4rem;
  overflow: hidden;
}

.main__search-container input{
  width: 100%;
  font-size: 1.05rem;
  border: none;
  background-color: transparent;
  color: var(--white-color);
  padding: 0 1rem;
}

.main__search-container input:focus{
  outline: none;
}

.main__search-container button{
  font-size: 1.1rem;
  height: 100%;
  padding: .5rem 1rem;
  font-weight: bolder;
  border: none;
  background-color: var(--primary-color);
  color: var(--black-color);
  cursor: pointer;
}

.main__search-container button fa-icon{
  color: var(--black-color);
  transition: color .3s ease-in-out;
}

.main__search-container button:hover fa-icon{
  color: var(--white-color);
}

.container{
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  justify-items: center;
  gap: 1.75rem;
  padding: 1rem;
  overflow: hidden;
}

.character__container {
  font-family: -apple-system, 'Helvetica Neue', sans-serif;
  width: 100%;
  display: flex;
  gap: 1rem;
  border-radius: 8px;
  box-shadow: 8px 8px 16px var(--shadow-dark), -8px -8px 16px var(--shadow-light);
  background-color: var(--dark-grey-color);
  color: var(--white-color);
  overflow: hidden;
  position: relative;
}

.character__container img {
  width: 40%;
  height: auto;
}

.character__info {
  width: 100%;
  padding: .75rem 1rem .75rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.character__id__fill{
  position: absolute;
  background-color: var(--primary-color);
  width: 7rem;
  height: 5rem;
  bottom: -2.6rem;
  left: -3.2rem;
  transform: rotate(45deg);
}

.character__id {
  position: absolute;
  bottom: -6px;
  left: -2px;
  font-size: 0.8rem;
  /* background-color: var(--primary-color); */
  color: var(--black-color);
  font-weight: 600;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.character__name {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 0.3rem;
}

.character__data {
  font-weight: 600;
}

.character__subtitle {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 0.3rem;
}

.status-alive::before,
.status-dead::before,
.unknown::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.status-alive::before {
  background-color: rgb(85, 204, 68);
  animation: pulse 1s infinite;
}

.status-dead::before {
  background-color: red;
}

.unknown::before {
  background-color: rgb(121, 121, 121);
}

.buttons__container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-block: 1rem;
}

.page-navigator__button, .current-page__indicator{
  font-size: 1.025rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 10%;
  font-weight: 550;
  border: none;
  cursor: pointer;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.page-navigator__button:hover{
  background-color: #07d14d;
  color: var(--white-color);
}

.current-page__indicator{
  background-color: var(--primary-color);
  color: var(--white-color);
  user-select: none;
  cursor:auto !important;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(160, 238, 144, 0.7);
  }

  80% {
    box-shadow: 0 0 0 10px rgba(144, 238, 144, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(144, 238, 144, 0);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1124px;
  }
}