<main>
  <section>
    <article class="page__filter">
      <div class="main__search-container">
        <input
          type="text"
          placeholder="Search for a character"
          id="search-character__input"
        />
        <button
          (click)="searchCharacter()"
          class="search-button"
          title="Search"
        >
          <fa-icon [icon]="['fas', 'search']"></fa-icon>
        </button>
      </div>

      <div class="second__search-container">
        <div class="page__filter-container">
          <label for="page-option-selector">Page</label>
          <select
            (change)="pageSelector($event)"
            name="page-option-selector"
            id="page-option-selector"
            [(ngModel)]="dataService.pageNum"
            title="Select page"
          >
            <option *ngFor="let page of pageNumbers" [value]="page">
              {{ page }}
            </option>
          </select>
        </div>

        <div class="status__filter-container">
          <select
            (change)="statusSelector($event)"
            name="status"
            title="Select status"
          >
            <option value="default">Status</option>
            <option value="alive">Alive</option>
            <option value="dead">Dead</option>
            <option value="unknown">Unknown</option>
          </select>
        </div>
      </div>
    </article>
    <article *ngIf="data" class="container">
      <article *ngFor="let char of data" class="character__container">
        <div class="character__id-image__container">
          <span class="character__id__fill"></span>
          <span class="character__id" title="ID">#{{ char.id }}</span>
          <img
            src="{{ char.image }}"
            alt="Image of {{ char.name }}"
            width="300"
            height="300"
            title="{{ char.name }}"
          />
        </div>
        <div class="character__info">
          <div>
            <p class="character__name" title="Name">{{ char.name }}</p>
            <p class="character__data" title="Status">
              <span
                [ngClass]="{
                  'status-alive': char.status === 'Alive',
                  'status-dead': char.status === 'Dead',
                  unknown: char.status !== 'Alive' && char.status !== 'Dead'
                }"
              >
                {{ char.status }}
              </span>
              -
              <span title="Species">{{ char.species }}</span>
            </p>
          </div>

          <div>
            <p class="character__subtitle">Last known location:</p>
            <p>{{ char.location.name }}</p>
          </div>

          <div>
            <p class="character__subtitle">First seen in:</p>
            <p>{{ getEpisodeNumber(char.episode[0]) }}</p>
          </div>
        </div>
      </article>
    </article>
    <article class="buttons__container">
      <button
        class="page-navigator__button"
        *ngIf="dataService.pageNum > 1"
        (click)="prevPage()"
        title="Previous page"
      >
        <fa-icon [icon]="['fas', 'chevron-left']"></fa-icon>
      </button>
      <button
        class="page-navigator__button"
        *ngIf="dataService.pageNum > 1"
        (click)="prevPage()"
        title="Page {{ dataService.pageNum - 1 }}"
      >
        {{ dataService.pageNum - 1 }}
      </button>
      <button class="current-page__indicator" title="Current page">
        {{ dataService.pageNum }}
      </button>
      <button
        class="page-navigator__button"
        *ngIf="dataService.pageNum < 42"
        (click)="nextPage()"
        title="Page {{ dataService.pageNum + 1 }}"
      >
        {{ dataService.pageNum + 1 }}
      </button>
      <button
        class="page-navigator__button"
        *ngIf="dataService.pageNum < 42"
        (click)="nextPage()"
        title="Next page"
      >
        <fa-icon [icon]="['fas', 'chevron-right']"></fa-icon>
      </button>
    </article>
  </section>

  <div *ngIf="!data" class="loading">
    <p>Cargando datos...</p>
  </div>
</main>
