.container{
  margin: 0 auto;
  /* max-width: 1200px; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  justify-items: center;
  grid-gap: 1rem;
  padding: 1rem;
  overflow: hidden;
}

.character__container {
  width: 100%;
  display: flex;
  gap: 1rem;
  margin: 0.5rem 0;
  /* padding: 1rem; */
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 5px #ccc;
  background-color: #efefef;
  overflow: hidden;
}

.character__container img {
  width: 50%;
  height: auto;
}

.character__info {
padding-block: 1rem;
}

@media screen and (min-width: 768px) {
  .character__container {
    margin: 1rem 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 968px;
  }
}